<div class="text-field">
  <%= form.text_field :first_name, placeholder: "First Name" %>
</div>

<div class="text-field">
  <%= form.text_field :last_name, placeholder: "Last Name" %>
</div>

<div class="text-field">
  <%= form.text_field :email, type: 'email', placeholder: "Email" %>
</div>

<div class="password-field">
  <%= form.password_field :password, placeholder: "Password" %>
</div>