<h1>Patchcord</h1>

<% if signed_in? %>
<%= form_tag("users", method: "get") do %>
  <p>I am a <%= select_tag(:search, options_for_select(User::ROLES.map { |role| [role.titlecase, role] }, selected: :search)) %></p>
  <p>Looking for a <%= select_tag(:searching_for, options_for_select(
    User::ROLES.map { |role| [role.titlecase, role] },
     selected: :searching_for)) %></p>
  <%= submit_tag "Search" %>
<% end %>
<% end %>